Repository Almighty-Alpaca/JetBrains-Discord-Integration, pull requests merged in 2021-06, with the labels that each got.

#161 Update dependencies and tools
  .idea/runConfigurations/Dependency_Updates.xml
  .idea/runConfigurations/Generate_Icons.xml
  .idea/runConfigurations/Quick_Build.xml
  .idea/runConfigurations/Run_Bot.xml
  .idea/runConfigurations/Run_IDE.xml
  bot/build.gradle.kts
  bot/config.yaml.example
  bot/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/bot/Main.kt
  bot/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/bot/Settings.kt
  bot/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/bot/commands/Command.kt
  bot/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/bot/commands/EvalCommand.kt
  bot/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/bot/commands/PingCommand.kt
  bot/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/bot/commands/ShutdownCommand.kt
  bot/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/bot/utils/commandClientBuilder.kt
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/PngOptimizingTransformer.kt
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  icons/build.gradle.kts
  plugin/build.gradle.kts
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/notifications/NotificationPostStartupActivity.kt
  plugin/src/main/resources/META-INF/plugin.xml
  settings.gradle.kts
  uploader/build.gradle.kts
Labels: area: icons, area: plugin, area: uploader, state: done, type: enhancement

#164 Fix require-restart attribute
  plugin/src/main/resources/META-INF/plugin.xml
Labels: area: plugin, state: open, type: fix

#165 Fix Gradle compile task dependencies
  plugin/build.gradle.kts
Labels: area: plugin, state: open, type: fix

#166 Add support for M1 macs
  gradle.properties
  plugin/build.gradle.kts
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/rpc/RpcService.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/rpc/connection/DiscordConnection.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/rpc/connection/DiscordIpcConnection.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/rpc/connection/DiscordRpcConnection.kt
Labels: area: plugin, state: in progress, type: feature

#168 Remove all old bintray code
  gradle.properties
  plugin/build.gradle.kts
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/SourceService.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayApplication.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayApplicationMap.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayApplicationSourceMap.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayAsset.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayIcon.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayIconSet.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayLanguage.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayLanguageMap.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayLanguageMatch.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayLanguageSourceMap.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintraySource.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayTheme.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayThemeMap.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/source/bintray/BintrayThemeSourceMap.kt
  secrets.gradle.kts.template
  uploader/build.gradle.kts
  uploader/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/uploader/uploader/BintrayUploader.kt
Labels: area: icons, area: plugin, state: done, type: chore

#163 Implement simple idle visibility option
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/data/Data.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/data/DataService.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/render/IdleRenderer.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/render/RenderContext.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/render/Renderer.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/settings/ApplicationSettings.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/settings/impl/ApplicationSettingsImpl.kt
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/settings/values/IdleVisibility.kt
Labels: area: plugin, state: open, type: feature
