Repository Almighty-Alpaca/JetBrains-Discord-Integration, pull requests merged in 2022-08, with the labels that each got.

#230 Remove TimeDynamicPluginListener from plugin.xml
  plugin/src/main/resources/META-INF/plugin.xml
Labels: area: plugin, type: fix, state: open

#239 Fix small things
  icons/src/main/resources/discord/themes/classic/zig.png
  plugin/changelog.md
  uploader/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/uploader/uploader/DiscordUploader.kt
Labels: area: icons, area: uploader, state: done, type: enhancement

#237 Fix File projectTimeActive
  plugin/src/main/kotlin/com/almightyalpaca/jetbrains/plugins/discord/plugin/data/DataService.kt
Labels: area: plugin, type: fix, state: done
